@model Fusion.Models.SKK.SKKModels
@{
    ViewBag.Title = "addBlock";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    if(Model.ArticleBlock.id == 0)
    {
        Model.ArticleBlock.name = "";
    }
}

<div class="col-md-6 col-md-push-3">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <h3 class="panel-title">
                Добавить блок
            </h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("addBlock", "SKK", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="@Model.ArticleBlock.name">Название</label>
                    @Html.TextBoxFor(m => m.ArticleBlock.name, new { @class = "form-control" })
                </div>
                <input type="submit" class="btn btn-primary" value="Сохранить" />
            }
        </div>
    </div>
</div>
