@model Fusion.Models.PIU
@{
    ViewBag.Title = "ПиУ: планирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ПиУ: планирование</h2>

<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>
                Организация
            </th>
            <th>
                Квартал
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
        @using (Html.BeginForm("EditPlan", "PIU", FormMethod.Get, new { id = "Form" }))
        {
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.Organization, Model.OrganizationsSelectList, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Quarter, Model.Quarters, new { @class = "form-control", @readonly = "readonly" })
                </td>
                <td>
                    <input type="submit" class="btn btn-default" value="Показать" />
                </td>
            </tr>
        }
    </table>
</div>