@model Fusion.Models.PIU

@{
    ViewBag.Title = "ПИУ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string TableData = Model.Data;
}

<script src="~/Scripts/codebase/webix.js"></script>
<link href="~/Scripts/codebase/webix.css" rel="stylesheet" />
<script src="~/Scripts/codebase/i18n/ru.js"></script>
<style>
    .level1css {
        font-weight: bold;
        color: #000;
        background-color: #b7dee8;
    }

    .level2css {
        color: #000;
    }

    .level3css {
        text-align: right;
        font-style: italic;
        color: #555;
    }

    .rightAlign {
        text-align: right;
    }
</style>

<script type="text/javascript">
    webix.ready(function () {
        grid = webix.ui({
            container: "tabl",
            id: "grid",
            view: "datatable",
            leftSplit: 2,
            rowHeight: 23,
            padding: 5,
            columns: [
                @Html.Raw(Model.ColumnsRub)
            ],
            data: {
                data: [
                    @Html.Raw(Model.Data)
                ]
            },
            editable: true,
            select: "cell",
            multiselect: true,
            blockselect: true,
            clipboard: "block",
            navigation: "true",
            editaction: "dblclick",
            height: 600,
            math: true
        });

        webix.UIManager.addHotKey("any", function (view) {
            var pos = view.getSelectedId();
            view.edit(pos);
        }, grid);

        grid.attachEvent("onPaste", function (code, e) {
            grid.refreshColumns();
        });
    });

    function IsNumber(value){
        if(typeof value == "undefined" || value == "")
            return true;
        else
            return $.isNumeric(value);
    }

    function Save() {
        var grid = $$("grid");

        if (!grid.validate())
        {
            webix.message({ type: "error", text: "Сохранение невозможно, так как есть некорректные данные в таблице." });
            return;
        }

        webix.message({ type: "default", text: "Сохранение документа..." });
        $("#loader").show();
        var grid = $$("grid");
        var serializedData = grid.serialize();
        webix.ajax().post("/PIU/Save", { data: serializedData }, function (result) {
            $("#loader").hide();
            var response = JSON.parse(result)
            webix.message({ type: response.result, text: response.message });
        });

        return false;
    }
</script>

<h2>ПИУ</h2>

<div style="position:absolute; left: 0; top: 0; height: 100%; width: 100vw;background:#fff url('/images/1369408992_cat-3.gif') no-repeat center; display: none;z-index:9999;opacity:0.8;" id="loader">
    <h3 style="display:block; margin: 20px auto">Пожалуйста подождите...</h3>
</div>

<div id="tabl"></div>
<br />
<input type="button" value="Сохранить" onclick="Save()" class="btn btn-success" />