@model Fusion.Models.PIU
@{
    ViewBag.Title = "ПиУ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ПИУ</h2>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>ПиУ</h4>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">@Html.ActionLink("Бюджетирование", "Budgeting")</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
                <span class="pull-left">@Html.ActionLink("БДиР", "View")</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
                <span class="pull-left">@Html.ActionLink("Свод", "Report")</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>