@model Fusion.Models.PIU

@{
    ViewBag.Title = "Нормы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/codebase/i18n/ru.js"></script>
<script src="~/Scripts/jqueryui/ui/i18n/jquery.ui.datepicker-ru.js"></script>

<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            changeMonth: false,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear));
                blur();
            }
        });
        $.datepicker.setDefaults($.datepicker.regional["ru"]);
    });
</script>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>
                Организация
            </th>
            <th>
                Дата
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
        @using (Html.BeginForm("EditNorms", "PIU", FormMethod.Get, new { id = "Form" }))
        {
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.Organization, Model.OrganizationsSelectList, new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.StartDate, new { @readonly = "readonly", @class = "form-control dateM" })
                </td>
                <td>
                    <input type="submit" class="btn btn-default" value="Перейти" />
                </td>
            </tr>
        }
    </table>
</div>