@model Fusion.Models.CRMViewModels.OverallViewModel
@{
    ViewBag.Title = "CRM: Отправка писем";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Отправка писем</h2>

<p>
    Письма для рассылки успешно добавлены в очередь отправки.
    В данный момент письма все еще рассылаются, отправка займет некоторое время.
</p>