
.disnone {display:none;}
col {overflow:hidden !important;}

.sortable {clear:both; border-collapse:collapse; margin:0 auto;}
/*.sortable td, .sortable th {border:1px solid #999; padding:0 .3em;}*/
.sortable .even {background-color:#f0f0f0;} 
.sortable .odd {background-color:#fff;} 
/*.sortable tbody tr:hover {background-color:#eef;}*/
.sortable thead {cursor:pointer;}

/* arrows */
.c_0_c td, .c_0_c th { 
 background-image:url(img/c1.gif); 
 background-repeat:no-repeat; 
 background-position:right center; 
}

.c_0_c .d_1_d { background-image:url(img/d1.gif); font-style:italic; }
.c_0_c .d_2_d { background-image:url(img/d2.gif); font-style:italic; }
.c_0_c .d_3_d { background-image:url(img/d3.gif); font-style:italic; }
.c_0_c .d_4_d { background-image:url(img/d4.gif); font-style:italic; }
.c_0_c .d_5_d { background-image:url(img/d5.gif); font-style:italic; }
.c_0_c .d_6_d { background-image:url(img/d6.gif); font-style:italic; }
.c_0_c .d_7_d { background-image:url(img/d7.gif); font-style:italic; }
.c_0_c .d_8_d { background-image:url(img/d8.gif); font-style:italic; }
.c_0_c .d_9_d { background-image:url(img/d9.gif); font-style:italic; }
.c_0_c .d_10_d { background-image:url(img/d10.gif); font-style:italic; }


.c_0_c .u_1_u { background-image:url(img/u1.gif); font-style:italic; }
.c_0_c .u_2_u { background-image:url(img/u2.gif); font-style:italic; }
.c_0_c .u_3_u { background-image:url(img/u3.gif); font-style:italic; }
.c_0_c .u_4_u { background-image:url(img/u4.gif); font-style:italic; }
.c_0_c .u_5_u { background-image:url(img/u5.gif); font-style:italic; }
.c_0_c .u_6_u { background-image:url(img/u6.gif); font-style:italic; }
.c_0_c .u_7_u { background-image:url(img/u7.gif); font-style:italic; }
.c_0_c .u_8_u { background-image:url(img/u8.gif); font-style:italic; }
.c_0_c .u_9_u { background-image:url(img/u9.gif); font-style:italic; }
.c_0_c .u_10_u { background-image:url(img/u10.gif); font-style:italic; }

