@{
    ViewBag.Title = "Единый портал БК, КЦ и отчетности";
}
<div class="jumbotron">
    <h2>Vega</h2>
    <p>
        Для работы в системе необходимо быть авторизованным пользователем домена fg.local
        <br />
        Для получения доступа обратитесь к администратору домена
    </p>
</div>
<div class="row">
    <div class="alert alert-info">
        <ul>
            <li>
                Добавлен поиск по номеру телефона
            </li>
            <li>
                Добавлена сортировка по баллам
            </li>
        </ul>
    </div>
    <div class="alert alert-info">
        Исправлено закрытие заказа/начисление баллов для заказов, выбитых из КЦ
    </div>
    <div class="alert alert-info">
        Добавлено определение имени владельца карты
    </div>
    <div class="alert alert-warning">
        В разработке:
        <ul>
            <li>Блок отчетности КЦ</li>
            <li>Возможность выбора нескольких (неограниченно) участников программы путем выделения "галочкой" </li>
            <li>Возможность показывать всех выбранных участников программы на одной странице</li>
        </ul>
    </div>
</div>