
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<link href="~/Scripts/chosen/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen/chosen.jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $(".chzn-select").chosen();
        });
        $(".fgh").click(function () {
            alert("123");
            $(this).remove();
            $('#seter option:selected').show();
        });
        $('#seter').change(function () {
            var select_value = $(this).val();
            $('#seter option:selected').hide();
            $("#1").val($("#1").val() +" " + select_value);
            alert(select_value);
            var i = "<div class='fgh'>"+ select_value + "</div>";
            $("#wrapper").append(i);
            // $('input').html = $('input').html + select_value;
        });
        $('#geter').click(function () {
            alert("123");
        });
    });
</script>
<style>
  #selector {
      width: 150px;
  }
</style>


<h2>Test</h2>
<form>
    <input type="button" value="123456" class="btn btn-success" id="geter" />
    <div class="form-control chosen-container"></div>
    <input id="1" class="form-control" />
    <select data-placeholder="123" multiple class="chzn-select" id="selector">
        <option vlaue="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</form>