@model Fusion.Models.ZakupModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<div class="panel panel-yellow">
    <div class="panel-heading">
        <h3 class="panel-title">Товароведы</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="success">
                    <th>Имя</th>
                    <th>Ресторан</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var it in Model.usersList)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => it.full_name)</td>
                        <td>@Html.DisplayFor(m => it.bd_subdivision.name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
